/**********TAG SELCTOR*************/

body {
  margin: 0;
  text-align: center;
}
h1,
h2,
h3 {
  margin: 0;
  font-family: "Girassol", cursive;
}

p,
a {
  font-family: "Girassol", cursive;
}
/**********CLASS SELCTOR*************/
.upperDiv {
  background-color: #ffa259;
}

.middleDiv {
}

.bottomDiv {
}
.pro {
  text-decoration: underline;
}

.bottom-cloud {
  position: absolute;
}

.top-cloud {
  position: relative;
  left: 200px;
  margin-top: 50px;
}
.hike {
  height: 100px;
  width: 100px;
  margin-top: 5px;
}
.giphy {
  height: 120px;
  width: 120px;
}
