/**********TAG SELCTOR*************/

body {
  margin: 0;
  text-align: center;
}
h1 {
  margin: 0;
  font-family: "Girassol", cursive;
}

p {
  font-family: "Girassol", cursive;
}
/**********CLASS SELCTOR*************/
.upperDiv {
  background-color: #ffa259;
}

.middleDiv {
  background-color: red;
  height: 200px;
  width: 200px;
}

.bottomDiv {
  background-color: blue;
  height: 200px;
  width: 200px;
}
.pro {
  text-decoration: underline;
}

.bottom-cloud {
  position: absolute;
}

.top-cloud {
  position: relative;
  left: 200px;
  margin-top: 50px;
}
